:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  padding: 1rem;
  transition: all 0.2s;
  border: 0px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.placeholder{
  position: relative;
  margin-bottom: 1rem;
  height: auto;
  border-radius: 2rem;
  border: 0px;
  line-height: 3;
  font-size: 12px;
  text-align: center;
  width: 80%;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  border: 0px;
  width: 100%;
  
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
  margin-bottom: 1rem;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  margin-bottom: 1rem;
}

.btn-twitter {
  color: white;
  background-color: #3887d1;
  margin-bottom: 1rem;
}

.contenedor-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contenedor-modal button {
  position: relative;
  top: 40%;
}

.col-lg-6{
  padding-left: 0px;
  padding-right: 0px;
}

.bg-gradient-primary{
  background-color: #15223d !important;
}

.bg-white{
  background-color: #15223d !important;
}


.btn-primary {
  color: #fff;
  background-color: #15223d;
  border-color: #15223d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #264485;
  border-color: #264485;
}

.py-3-proyecto{
  background-color:#28211c;
}

.n-p{
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  width: 100px;
}

.icono{
  color: white;
}

.btn-info{
  margin-left: auto;
  margin-right: 1%;
}