<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registrarse - AnCode</title>
    <% include partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/icono-logo.png">
    <link rel="stylesheet" type="text/css" media="screen" href="css/nicolle-custom.css">
    <script src="main.js"></script>
</head>
<body style="background-color:rgb(231, 226, 226);background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size:cover">

        <!--<div style=" width:500px; height: 500px; background-color: rgba(63, 7, 46, 0.5); margin:auto">-->
        
            
        <!--<div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style=" width:500px; height: 500px; background-color: rgba(63, 7, 46, 0.5); margin:auto; text-align: center">-->
        <div class="card card-signin log-in" style=" background-color: rgba(8, 0, 0, 0.18); margin:auto; text-align: center; font-family: sans-serif">
            <div class="card-body">
            <h5 class="card-title ">Crea tu cuenta</h5>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                  <%= message %>
                </div>
              <% } %>
  
            <form class="form-signin" action="/registrarse" method="post">
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" placeholder="Ingrese su correo electrónico" style="text-align:center" name="email" class="form-control">
                  </div>
                  <!--<div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" name="usuario" class="form-control">
                  </div>-->
                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" style="text-align:center" placeholder="Ingrese su contraseña" name="password" class="form-control">
                  </div>
                
                  <input type="submit" value="Registrarse" class="btn btn-dark btn-lg"> 
                
                <hr class="my-4">
                
                <button class="btn btn-lg btn-google" type="submit"><i class="fab fa-google mr-2"></i>Registrarse con Google</button><br>
                
                <button class="btn btn-lg btn-facebook" type="submit"><i class="fab fa-facebook-f mr-2"></i>Registrarse con Facebook</button><br>

                <button class="btn btn-lg btn-twitter" type="submit"><i class="fab fa-facebook-f mr-2"></i>Registrarse con Twitter</button><br>

                <a href="/login" style="text-decoration:none; color: black; font-family:initial">¿Ya tienes cuenta? Inicia Sesión</a>
            
            </form>
            </div>
        </div>
        </div>
        
    <footer></footer>

    <script src="js/controlador-registrarse.js" ></script>
</body>
</html>